.links {
    display: flex;
    color: #ffff
    
}

.hose-yellow{
    color: #FFD700;
}
.hose-blue{
    background-color: #002D62;
}

.logo{
    width: 40px;
}

.logo-name{
    margin: auto;
    height: 14px;
    max-width: 170px;
}

.main-container{
    margin: 80px 80px;
}

.hero{
    width: 100%;
    height: 670px;
}

.hero2{
    display: none;
    width: 100%;
    height: 670px;
}

/* .slowFade{
    display: flex;
    align-items: flex-start;
    background: #ffff;
    position: relative;
    overflow: hidden;
}

.slide img{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate( 15deg );
    animation: slowFade 2s infinite;
}

.slide:nth-child(2) img {
    animation-delay: 8s;
}

.slide:nth-child(1) img {
    animation-delay: 8s;
}



.slide {
    height: 100vh;
}

@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
    }
} */


.btn1{
    padding: 15px 0;
    min-width: 300px;
    background-color: #002D62;
    margin-top: 20px;
    font-size: 18px;
    color: #ffff;
    font-weight: 800;
    border-radius: 12px;
    z-index: 100;
}



.btn2{
    padding: 15px 0;
    width: 300px;
    background-color: #002D62;
    margin-top: 20px;
    font-size: 18px;
    color: #ffff;
    font-weight: 800;
    border-radius: 12px;
}



.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



@media (max-width: 640px) {
    .links {
        display: none;
    }

    .main-container{
        margin: 30px 30px;
    }

    .hero{
        width: 100%;
        height: 100%;
    }

    .mobile-menu{
        width: 350px;
        height: 600px;
        position: absolute;
        -webkit-transition: all ease-in 1s;
        transition: all ease-in 1s;
        transform: translateX(0%);
    }
    


    
}